body {
    font-family: Arial, sans-serif;
    background-image: url('Images/smoothies-4998381.jpg'); /* Replace with your own image */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white */
    padding: 40px;
    max-width: 500px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

#smoothie-output {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}

.progress-container {
    width: 80%;
    background-color: #ddd;
    margin: 20px auto;
}

#progress-bar {
    height: 25px;
    width: 0;
    background-color: #4caf50;
    transition: width 0.3s;
}

/* Styling icons */
.fas {
    margin-right: 8px;
    color: #4caf50;
}
